:root {
  --bg-guinda: #80004a;
  --bg-gray: #f1f2f5;
  --black-warn: #282934;
  --pinkArticles: #e57b8e;
  --blueBook: #7BB9E5;
  --yellowDevp: #F6C169;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 80px calc(100vw - 88px);
  grid-template-rows: 60px calc(100vh - 60px) 100px;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}
/* Tamaño del scroll */
body::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: var(--bg-guinda);
}
.header__title {
  display: flex;
}
.header__title img {
  width: 60px;
  height: 60px;
  margin: 0px 10px;
}
.header__text {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  height: 60px;
}
.header__text h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.header__text span {
  font-size: 1.2rem;
}
.header__panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 60px;
}
.header__panel--bell {
  font-size: 2rem;
  margin-right: 20px;
}
.panel__user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-left: 20px;
  border-left: 2px solid white;
}
.panel__user--avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 2px solid white;
}
.panel__user--avatar i {
  font-size: 2rem;
}
.panel__user--name {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}
.panel__user--name i {
  margin-left: 10px;
  font-size: 1.6rem;
}
.aside {
  grid-area: aside;
  background: var(--bg-guinda);
}
.aside__nav {
  width: 100%;
}
.aside__navbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  list-style: none;
}
.aside__navbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.aside__navbar li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  cursor: pointer;
}
.aside__navbar li:hover {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.226);
}
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--bg-gray);
}
.productTable {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 80px 50px 1fr;
  row-gap: 20px;
  justify-content: center;
  height: calc(100vh - 60px);
  
}
.productTable__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
}
.productTable__header h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
.productTable__header--text p {
  font-size: 13px;
  font-weight: bold;
}
/*//////////////////*/
.productTable__header__AC {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #727272;
  
}
.productTable__header_AC--text{
  display: flex;
  flex-direction: column;
  
}
.productTable__header_AC h2 {
  font-size: 24px;
  font-weight: bold;
}
.productTable__header_AC--text p {
  font-size: 13px;
  padding-top: 10px;
}
/*//////////////////*/
.formulario {
  width: 100%;
  background: white;
  border: 1px solid #28293456;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 25px 30px 25px 60px;
  display: grid;
  grid-template-columns: repeat(2, auto [col-start]);
  grid-template-rows: auto;
  
}
.form__group {
  padding-right: 30px;
  position: relative;
  margin-top: 30px;
}
.form__group--input {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.form__label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #282934;
  margin-bottom: 10px;
}
.form__input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 40px;
  border: 1px solid #7070704d;
  border-radius: 5px;
  background: #f1f2f5;
  outline: none;
  padding: 0 10px;
  transition: 0.3s ease all;
}
.formulario__validacion--estado {
  position: absolute;
  right: 45px;
  bottom: 33px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}
.formulario__input--error {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
  color: red;
  
}
.formulario__input-error-active {
  display: block;
}
.form__input:focus {
  border: 1px solid #1d82ef7a;
  box-shadow: 0px 0px 20px 0px rgba(29, 130, 239, 0.377);
}

.p1 {
  grid-column: span 1;
}
.p2 {
  grid-column: span 2;
}
/*//////////////////*/
.productTable__navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #727272;
  width: 100%;
  height: 40px;
}
.productTable__nav {
  display: flex;
  list-style: none;
  height: 40;
}
.productTable__nav--item {
  margin-right: 30px;
  height: 40px;
}
.productTable__nav--item:hover {
  border-bottom: 5px solid var(--bg-guinda);
}
.productTable__nav--item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-warn);
}
.productTable__nav--item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 10px;
  margin-left: 5px;
  border-radius: 3px;
  font-size: 0.8rem;
  background: white;
}
.ListProduct {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 20px;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}
/* Tamaño del scroll */
.ListProduct::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
.ListProduct::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.ListProduct::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.ListProduct::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.ListProduct::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.ListProduct::-webkit-scrollbar-track:hover,
.ListProduct::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
.product__article {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 30px;
  width: calc(100% - 20px);
  border: 2px solid var(--pinkArticles);
  border-radius: 0 15px 15px 0;
  color: var(--pinkArticles);
}
.product__article::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -20px;
  width: 20px;
  height: 100%;
  border: 2px solid var(--pinkArticles);
  border-radius: 15px 0 0 15px;
  background: var(--pinkArticles);
}
.product__article--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  color: var(--black-warn);
}


.product__article--header i {
  font-size: 1.6rem;
  margin-left: 10px;
}
.product__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black-warn);
}
.product__details {
  width: 100%;
}
.product__details--list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  
}
.product__details--list i {
  margin-right: 5px;
  color: var(--pinkArticles);
  font-size: 1.2rem;
}
.details__principal {
  display: flex;
  align-items: center;
  margin-right: 50px;
  flex-grow: 1;
  font-size: 1.2rem;
  color: var(--black-warn);
  
}
.product__details--book {
  display: flex;
  flex-direction: column;
  list-style: none;
  
}
.product__details--book li {
  width: 100%;
}
/*///////////*/
.product__book {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 30px;
  width: calc(100% - 20px);
  border: 2px solid var(--blueBook);
  border-radius: 0 15px 15px 0;
  color: var(--blueBook);
  
}
.product__book::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -20px;
  width: 20px;
  height: 100%;
  border: 2px solid var(--blueBook);
  border-radius: 15px 0 0 15px;
  background: var(--blueBook);
 
}
.product__book--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  color: var(--black-warn);
  
}
.product__book--header i {
  font-size: 1.6rem;
  margin-left: 10px;
}
.product__details--listbook {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  
}
.product__details--listbook i {
  margin-right: 5px;
  color: var(--blueBook);
  font-size: 1.2rem;
  
}
.product__details__book{
  width: 100%;
  
}

.product__details--book {
  display: flex;
  flex-direction: column;
  list-style: none;
  
}
.product__details--book li {
  width: 100%;
}

/*¨----------------------------*/
.productButton__header{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #727272;
}

.productButton__header h2 {
  font-size: 24px;
  font-weight: bold;
}

.product_buttons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 10em;
  row-gap: 2em;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  background: var(--bg-guinda);
  color: white;
  margin-top: 20px;
}

.buttons:hover{
  background: var(--pinkArticles);
}
/*¨----------------------------*/

/*///////////*/
.product__devp {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 30px;
  width: calc(100% - 20px);
  border: 2px solid var(--yellowDevp);
  border-radius: 0 15px 15px 0;
  color: var(--yellowDevp);
  
}
.product__devp::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -20px;
  width: 20px;
  height: 100%;
  border: 2px solid var(--bl);
  border-radius: 15px 0 0 15px;
  background: var(--yellowDevp);
 
}
.product__devp--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  color: var(--black-warn);
  
}
.product__devp--header i {
  font-size: 1.6rem;
  margin-left: 10px;
}
.product__details--listdevp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  
}
.product__details--listdevp i {
  margin-right: 5px;
  color: var(--yellowDevp);
  font-size: 1.2rem;
  
}
.product__details__devp{
  width: 100%;
  
}

.product__details--devp{
  display: flex;
  flex-direction: column;
  list-style: none;
  
}
.product__details--devp li {
  width: 100%;
 
}
/*///////////*/
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 45px;
  border-radius: 40px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  background: var(--bg-guinda);
  color: white;
}
.btn i {
  margin-right: 10px;
}
/*//////////////////////*/
.footer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-guinda);
  grid-area: footer;
  z-index: 1000;
}

.footer__img--ipn {
  width: 100px;
  height: 90px;

}
.footer__img--cigata {
  width: 100px;
  height: 78px;
}

.footer__text {
  color: white;
  text-align: center;
  margin: 0 60px;
  
}
.footer__text--title {
  font-weight: 700;
  font-size: 12px;
  
}
.footer__text--direction {
  font-size: 10px;
  margin-top: 20px;
 
}